:host{
  width: 100%;

  .wrapper{
    height: 15vh;
    min-height: min-content;
    flex-direction: column;
    border-top: var(--ion-color-primary-contrast) 2px solid;
    padding-top: 20px;
    ion-button{
      --color: var(--ion-color-primary-contrast);
    }
    p{
      font-size: 14px;
    }
  }
  //@media (max-height: 1200px) {
  //  .wrapper{
  //    max-height: 16vh;
  //  }
  //}
  //@media (max-height: 690px) {
    @media (max-width: 650px) {
      .wrapper{
        height: auto;
        max-height: min-content;
        flex-direction: column;
        padding-bottom: 30px;
      }
    }
  //}
  //@media (min-height: 691px){
  //  height: 13.45rem;
  //}
}
