<ion-header [translucent]="true" class="ion-no-border">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <app-contact-btn></app-contact-btn>
<main>
  <ion-row>
    <ion-row>
      <ion-col offset-sm="2" size-sm="9">
        <h1>We are Legion.</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">
        <p>Profile</p>
      </ion-col>
      <ion-col>
        <p>Legion Studio is a video content creation studio. We are an eclectic group of directors, producers, designers,
          illustrators, and animators who can effectively communicate your message through engaging narratives. Since 2019,
          when our studio was founded, we’ve been busy working with innovative groups and individuals across Europe,
          Middle East and beyond. We produce B2B infographic, corporate videos and video explainers. Check out some of the
          fascinating projects we’ve been involved with, and let us know if you have an idea in mind and need a professional
          hand to help you fulfill it.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <p>Contact</p>
      </ion-col>
      <ion-col>
        <ion-row>
          <a href="mailto:info@legion-studio.com">info@legion-studio.com</a>
          <a href="tel:+380677003822">Tel: +380677003822</a>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>
</main>
  <app-footer></app-footer>
</ion-content>
