:host{
  main{
    .decorative-header{
      background-image: url("/assets/images/portfolio/intros/7.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
